@model IEnumerable<EasyFood.Models.Reteta>

@{
    ViewBag.Title = "Index";
}

<link href="/Styles/EasyFood.css" rel="stylesheet" />
 
<br />
<h2>Rețete</h2>
<br />

   
<div>
    @foreach(var item in Model)
    {
        <hr />
        <div class="containerItem">
            <div class="containerIcon" style="background-image: url('@Html.DisplayFor(modelItem => item.LinkImaginePrezentare)')"></div>
            <h4 class="denumireReteta lead">@Html.DisplayFor(modelItem => item.Denumire)</h4>
            <div class="containerDetalii">
                <h5>Preț</h5>
                <p>@Html.DisplayFor(modelItem => item.Pret)</p>
            </div>
            <div class="containerDetalii">
                <h5>Dificultate</h5>
                <p>@Html.DisplayFor(modelItem => item.NivelDificultate)</p>
            </div>
            <div class="continutCentrat">
                <p>@Html.ActionLink("Detalii", "Details", new { id = item.RetetaID })</p>
            </div>
        </div>
    }
</div>