<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Easy Food</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="/Styles/EasyFood.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
    .elementlista a:visited
    {
        color: dimgray !important;
    }

    .elementlista a:hover
    {
        color: black !important;
    }

    .logo:hover
    {
        color: black !important;
    }

    .navbar-toggle .icon-bar
    {
        background-color:red;
    }

    </style>
</head>

<body>
    <div class="navbar navbar-fixed-top easyfood-navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="continutCentrat" style="padding-top:12px; padding-bottom:3px; padding-right:12px">
                    <p style="font-family: 'Varela Round', sans-serif; font-weight:bold; font-size:20px"><span style="color:red">easy</span><span style="color:#0094ff">food</span><span style="font-size:10px">&reg;</span></p>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="elementlista">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="elementlista">@Html.ActionLink("Retete", "Index", "Reteta")</li>
                    @if(TempData["IDUtilizator"] != null)
                    {
                        TempData.Keep();
                        <li class="elementlista">
                            @Html.ActionLink("Contul Meu", "Autentificare", "Client", new {id = TempData["IDUtilizator"]}, null)
                        </li>
                        TempData.Keep();
                    }
                    else
                    {
                        <li class="elementlista">@Html.ActionLink("Contul Meu", "Index", "Client")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Easy Food</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
